{% extends 'base.html' %}


{% block content %}
<h3>About Page</h3>
<p>Testing</p>
<h3>These are my fav artists</h3>

<p>{{bands }}</p>
<p>{% for each_band in bands %}</p>
{% endfor %}

<form action="/about" method = "POST">

{% if "Radiohead" in bands %}
<p>{{bands[0] }}</p>
{% else %}
{% for x in bands %}

<h3 name = "band entry"><p>{{ x }}</p></h3><button type="submit" name ="delete button">(delete)</button>
{% endfor %}
{% endif %}
</form>


<form action="/about" method="POST">
    <input type="text" name ="add_band" id ="band_add" placeholder="Enter the band you wish to add">
    <button type ="submit" style = "display: none">Submit</button> 
</form>

{% endblock %}